/* Footer General */
.footer {
  background-color: #1a1a3d;
  color: white;
  padding: 40px 150px;
  font-family: Arial, sans-serif;
  border-radius: 12px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Para hacer que las columnas se ajusten en pantallas pequeñas */
  gap: 20px;
}

/* Columnas del footer */
.footer-column {
  flex: 1;
  min-width: 200px; /* Ancho mínimo para pantallas pequeñas */
}

.footer-column h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: white;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

/* Mapa */
.map-container {
  margin-top: 10px;
}

/* Iconos de redes sociales */
.social-icons {
  margin-top: 15px;
}

.social-icons a {
  margin-right: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.social-icons a:hover {
  color: #007bff;
}
